#overall
model_name=TwoTowerMyBert_mid_pool_online

sync=False

margin=0.2

learning_rate_decay=0.8
decay_step=1000000
learning_base=0.00002
save_checkpoint_secs=7200

ModelTag=TwoTowerMyBert_mid_pool_online

checkpointBaseDir=shaowei-ysw/TwoTowerMyBert_mid_pool_online/checkpoint/
checkpointMetricDir=shaowei-ysw/TwoTowerMyBert_mid_pool_online/metric/

instance_list=relevence_train,relevence_test
saver_list=shaowei-ysw/strucBert/bert_base_ecommerce/bert_base_ecommerce_continue_55w,network/bert_layer/bert/:bert/

timeline=True

batch_size=256
input_column_conf=conf/input_conf/input_fullfeature_column.json
input_table_conf=conf/input_conf/input_fullfeature_table.json

data_size=2212035492
num_epoches=2
shell_tables=shaowei_2b_distribuate_100_teacher_repbert,shaowei_zuoshu_relevance_annotate_gather_ga_info_test_repbert
shell_worker_count=21
shell_ps_count=10
bert_num_hidden_layers=2